<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 <head>
	 	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
	<title>Trabalho em Grupo</title>
	</head>
	<body>
		<h1> Cadastro de Trabalho</h1>
		<h3><a href="/trabalhos" class="waves-effect waves-light btn"><i class="material-icons left">next_week</i>Voltar</a></h3>
		<form  class="container" method= "post">
			Nome:<input type="text" name="name"/>
			<div class="row">
			
			<div class="input-field col s6">
				Local:<input type="text" name="local"/>
			</div>
			
			<div class="input-field col s3">
				Data:<input type="date" name="data"/>
			</div>
				
			<div class="input-field col s3">	
			Horario: <input type="text" name="hora"/>
			</div>
			
			</div>
			<button type="submit"> Salvar</button>
			<br>
			<a href="/trabalhos"> trabalhos cadastrados</a>
		</form>
	
	
	</body>
</html>