<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 <head>
		<title>Trabalho em Grupo	</title>
	</head>
	<body>
		<h1> Cadastro de Trabalho</h1>
		<form method= "post">
			Nome:<input type="text" name="name"/>
			Local:<input type="text" name="local"/>
			Data:<input type="date" name="data"/>
			Horario: <input type="text" name="hora"/>
			
			<button type="submit"> Salvar</button>
			<br>
			<a href="/trabalhos"> trabalhos cadastrados</a>
		</form>
	
	
	</body>
</html>